<!DOCTYPE html>
<html lang="es">
​

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
​

<body>
    <div id="app" class="container mt-5">
        {{message}}
        <div class="row">
            <div class="col-md-6 mt-3" v-for="(list, index) in lists" :key="index">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-center flex-wrap">
                            <h4 class="d-block w-100 text-center">{{ list.name }}</h4>
                            <button class="btn btn-sm mr-2"
                                :class="list.status == 'creating' ? 'btn-warning' : 'btn-danger' "
                                @click="removeList(index)">
                                {{   list.status == 'creating' ? 'Cancelar' : 'Eliminar'  }}
                            </button>
                            <button class="btn btn-sm btn-success" v-if="list.status == 'saved'"
                                @click="list.status = 'creating'">
                                Modificar
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="/" @submit.prevent="saveList(list)">
                            <div class="form-group" v-if="list.status == 'creating' ">
                                <input class="form-control" placeholder="Nombre de la lista" v-model="list.name">
                            </div>
                            <button v-if="list.status != 'saved' " class="btn btn-primary btn-block">
                                Guardar
                            </button>
                        </form>

                        <!--ADD CARDS-->
                        <div class="input-group mb-3" v-if="list.status == 'saved'" v-for="(card, ind) in list.cards">
                            <input 
                                v-model="list.cards[ind].text" 
                                type="text" class="form-control mr-2"
                                placeholder="Write some here!" 
                                aria-label="Write some here!"
                                aria-describedby="basic-addon1" 
                                @keyup.enter="addCard(list.cards)"
                                :disabled="list.cards[ind].status == 'creating' ? disabled : ''">
                            <button 
                                class="btn btn-sm btn-danger mr-2"
                                v-if="list.cards[ind].status == 'saved'" 
                                @click="removeCard(list.cards, ind)">
                                Eliminar
                            </button>
                            <button 
                                class="btn btn-sm btn-success"
                                v-if="list.cards[ind].status == 'saved'"
                                @click="list.cards[ind].status = 'creating'">
                                Modificar
                            </button>
                        </div>

                        <button v-if="list.status == 'saved' " type="button" class="btn btn-primary"
                            @click="addCard(list.cards)">Add Card +</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-3">
                <button class="btn rounded-0 btn-outline-dark btn-block" @click="addList">
                    Agregar lista
                </button>
            </div>
        </div>
    </div>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./javascript.js"></script>
</body>
​

</html>